---
import GitHub from './icons/GitHub.astro'
import Angular from './icons/Angular.astro'
import Tailwind from './icons/Tailwind.astro'
import Link from './icons/Link.astro'
import LinkButton from './LinkButton.astro'
import Node from './icons/NodeJS.astro'

const TAGS = {
  ANGULAR: {
    name: 'Angular',
    class: 'bg-[#820060] text-white',
    link: 'https://angular.dev',
    icon: Angular,
  },
  NODE: {
    name: 'NodeJS',
    class: 'bg-[#1A6717] text-white',
    link: 'https://nodejs.org',
    icon: Node,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    link: 'https://tailwindcss.com',
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: 'Poncho Home & Stay',
    description:
      'Proyecto fullstack realizado en equipo, como trabajo práctico integrador para la materia "Desarrollo de Software" de la carrera de Ingeniería en Sistemas. Desarrollado con Angular 16 y Tailwind CSS en el frontend, y Node JS con Express en el backend.',
    link: 'https://poncho-home-and-stay.vercel.app/',
    github: 'https://github.com/octapereyra/poncho-homestay',
    image: '/projects/poncho.webp',
    tags: [TAGS.ANGULAR, TAGS.NODE, TAGS.TAILWIND],
  },
  {
    title: 'Weather App',
    description:
      'Proyecto realizado en base a un challenge de front-end developer del sitio devchallenges.io, desarrollado con Angular 17 y consumiendo la API del servicio OpenWeatherMap',
    link: 'https://weather-app-theta-wheat.vercel.app/',
    image: '/projects/weather.webp',
    tags: [TAGS.ANGULAR, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={'Preview de ' + title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <a
                    href={tag.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 hover:cursor-pointer hover:bg-opacity-80 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </a>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
